@font-face {
    font-family: moonhouse;
    src: url(moonhouse.ttf) format('truetype');
}
body {
   background-image: url(../graphics/dark_blue_to_light.jpg); 
   background-size: cover;   
   font-size: 1.6em;
}
nav {
    width: 100%;
    transition: background 0.5s ease-in-out;
    border-radius:6px 6px 0px 0px;
}
nav:hover {
    background-color: #ededed;
}
nav:hover a {
    color: black;    
}
nav:hover ~ #c{    
    border-radius: 0px 0px 6px 6px;
}
a {
    text-decoration: none!important;
    color: white; 
    transition: color 0.47s ease-in-out, font-size 0.47s, padding 1.5s;
}
a:focus{ 
    padding: 0px;
    margin: 0px;
    font-size: 1.1em; 
    font-weight: bold;
}
a:hover{ 
    padding: 0px;
    margin: 0px;
    font-size: 1.1em; 
    font-weight: bold;
}
li {
    padding-bottom: 18px;
}
nav ul{
    list-style-type: none;  
    margin: auto;
    text-align: left;
}
nav li{
    display: inline;
    text-align: center;
    padding: 10px;  
    margin: auto;
}
.mainli{
    font-size: 2.2em;  
    font-family: moonhouse;
}
.leftli{
    margin: auto auto auto 27%;
}
div {
    text-align: center;
}
footer {
     text-align: center;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
p {
    
    text-align: justify;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    padding-top: 10px;
}
header {
    width: 100%;
    height: 120px;    
    margin: auto;
    text-align: center;
}
article {
    text-align: center;
    margin: auto;
}
section {
         text-align: center;
         background-color: #ededed;
         padding: 5px;  
         border-radius: 6px;
         transition: border-radius 0.7s;
         height: 70%;
         font-size: 1.1em;
         height: 700px;
}
img {
    transition: opacity 0.2s, border 0.1s;
}
img:hover{
    opacity: 0.7;
    border: solid 3px black;
}
h2 {
    font-size: 60px;
    font-family: moonhouse;
    text-align: center;
}
h4 {
    font-size: 20px;
    text-align: left;
    
}
.imgli {
    margin: auto;
    padding-left: 13%;
}
@media screen and (max-width: 1500px) and (min-width: 1201px){
    .leftli{
            margin: auto auto auto 10%;
        }
}
@media screen and (max-width: 1200px) and (min-width: 1001px){
    .leftli{
        margin: auto;
     }    
}
@media screen and (max-width: 1000px){
    .leftli{
            margin: auto;
        }
}
@media screen and (max-width: 800px) {
    h2{
        font-size: 2em;
    }   
    nav ul{
        list-style-type: none;  
        margin: auto;
        text-align: left;
    }
    nav li{
        display: inline;
        text-align: center;
        padding: 10px;  
        margin: auto;
    }
    .leftli{
        margin: auto;
    }
    .mainli{
        font-size: 1.5em;
        font-family: sans-serif;
        margin: auto;
        padding: auto;
    }
}